/*******************
 * _blog.scss file *
 *******************

______  __                       ______ ________________
___  / / /___________ ______________  /____(_)__  /__  /
__  /_/ /_  _ \_  __ `__ \__  __ \_  __ \_  /__  /__  / 
_  __  / /  __/  / / / / /_  /_/ /  / / /  / _  / _  /  
/_/ /_/  \___//_/ /_/ /_/_  .___//_/ /_//_/  /_/  /_/   
                         /_/                            


Greg Hemphill's Blog
*/

/* scaffolding
   =========== */
body { padding-top: 70px; } /* for Navbar */


/* Typography
   ========== */

/* Libre Baskerville 
   -----------------
   from Font Squirrel http://www.fontsquirrel.com/fonts/libre-baskerville */
@font-face {
  font-family: 'LibreBaskervilleRegular';
  src: url('/vendor/fonts/libre_baskerville/LibreBaskerville-Regular-webfont.eot');
  src: url('/vendor/fonts/libre_baskerville/LibreBaskerville-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Regular-webfont.woff') format('woff'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Regular-webfont.ttf') format('truetype'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Regular-webfont.svg#LibreBaskervilleRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskervilleItalic';
  src: url('/vendor/fonts/libre_baskerville/LibreBaskerville-Italic-webfont.eot');
  src: url('/vendor/fonts/libre_baskerville/LibreBaskerville-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Italic-webfont.woff') format('woff'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Italic-webfont.ttf') format('truetype'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Italic-webfont.svg#LibreBaskervilleItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskervilleBold';
  src: url('/vendor/fonts/libre_baskerville/LibreBaskerville-Bold-webfont.eot');
  src: url('/vendor/fonts/libre_baskerville/LibreBaskerville-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Bold-webfont.woff') format('woff'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Bold-webfont.ttf') format('truetype'),
       url('/vendor/fonts/libre_baskerville/LibreBaskerville-Bold-webfont.svg#LibreBaskervilleBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 8px;
  @media (min-width: 480px) {
    font-size: 9px;
  }
  @media (min-width: 768px) {
    font-size: 10px;
  }
}

body { /* 14/20 */
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: 'LibreBaskervilleRegular', 'Georgia Pro', georgia, serif;
  @media (min-width: 480px) {
    line-height: 2.9rem;
  }
  @media (min-width: 768px) {
    line-height: 3.0rem;
  }
}

p, li {
  margin-top: 1.5rem;
}

b, strong, .bold {
  font-weight: normal;
  font-style: normal;
  font-family: 'LibreBaskervilleBold', 'Georgia Pro', georgia, serif;
}

i, em, .italic {
  font-weight: normal;
  font-style: normal;
  font-family: 'LibreBaskervilleItalic', 'Georgia Pro', georgia, serif;
}

/* all combinations of bold and italic being inside each other */
b i, b em, b .italic, 
strong i, strong em, strong .italic, 
.bold i, .bold em, .bold .italic, 
i strong, i b, i .bold, 
em strong, em b, em .bold,
.italic strong, .italic b, .italic .bold {
  font-weight: bold;
  font-style: normal;
  font-family: 'LibreBaskervilleItalic', 'Georgia Pro', georgia, serif;
}


/* Headings 
   -------- */


article {
  h1 {
    font-weight: bold;
  }
}

/* Exposed Markdown inspired by Mark Otto's blog http://markdotto.com */
article {

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    color: #111;
    text-rendering: optimizeLegibility;
  }
  h1:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before {
    position: absolute;
    top: auto;
    color: #f4f4f4;
    display: none;
    @media (min-width: 768px) {
      display: inline;
    }
  }

  

  h1 { /* 38/41 */
    font-size: 4.6rem;
    line-height: 5.6rem;
  }
  h1:before {
    content: "#";
    left: -1.0em;
  }

  h2 { /* 32/35 */
    font-size: 3.8rem;
  }
  h2:before {
    content: "##";
    left: -1.75em;
  }

  h3 { /* 24/26 */
    font-size: 3.0rem;
  }
  h3:before {
    content: "###";
    left: -2.55em;
  }

  h4 { /* 18/19 */
    font-size: 2.2rem;
  }
  h4:before {
    content: "####";
    left: -3.4em;
  }

  h5{ /* 14/15 */
    font-size: 1.8rem;
  }
  h5:before {
    content: "#####";
    left: -4.3em;
  }

  h6 { /* 12/13 */
    font-size: 1.6rem;
  }
  h6:before {
    content: "######";
    left: -5.10em;
  }
}

/* Lists 
   ----- */
ul {
  margin-left: -0.5rem;
}
ul>li{
  padding-left: 0.5rem;
}

ol {
  margin-left: -0.65rem;
}
ol>li{
  padding-left: 0.65rem;
}

blockquote {
  padding: 0 0 0 1.75rem;
  margin: 0 3rem 1.5rem -2.2rem;
  color: #999;
  border-left: .5rem solid #e5e5e5;
}

/* code
   ---- */
pre {
  font-size: 1.6rem;
  /*padding-left: 1.7rem;*/
  padding-right: 1.7rem;
  margin-left: -5rem;
  margin-right: -1.7rem;
  border: 0;
  background: #f9f9f9;
}
/*.container {
  border-left: 1px solid #333;
}*/

.lineno {
 width: 32px;
 /*padding-right: 5px;
 border-right: 1px solid #ccc;*/
 display: inline-block;
 white-space: nowrap;
 text-align: right;
 color: #ccc;
}

/* Posts 
   ----- */

.articles article {
  padding-bottom: 30px;
  margin-bottom: 90px;
  border-bottom: 4px double #eee;
}
article {
  margin: 0 auto;
  max-width: 696px;
}
article .title {
  margin-bottom: 0;
}
.author,
.published_on {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.4rem;
}
.by_line {
  margin-bottom: 20px;
  font-family: 'LibreBaskervilleItalic', 'Georgia Pro', georgia, serif;
  font-size: 1.4rem;
}

/* Responsive
   ---------- */


/* Components
   ========== */

/* Navbar
   ------ */
.navbar { 
  opacity: 0.95; 
}
