<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="description" content="Greg Hemphill's Blog" />
    <meta name="viewport" content="width=device-width,user-scalable=yes" />

    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/site.css">
  </head>

  <body> 
    <div class="container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
    {% include analytics.html %}
  </body>
</html>
